@import "libs/bootstrap-reboot.min";
@import "libs/fonts";
@import "libs/slick";

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

  

@import "blocks/header";
@import "blocks/promo";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/decisions";
@import "blocks/opportunities";
@import "blocks/data";

@import "blocks/media";