.access {
    padding: 80px 0;
    &__wrapper {
        position: relative;
        margin: 0 auto;
        width: 302px;
        height: 302px;
        border: 1px solid #00c2f0;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__block {
        position: relative;
        z-index: 1;
        &_hor {
            position: absolute;
            width: 302px;
            height: 235px;
            background-color: white;
        }
        &_ver {
            position: absolute;
            width: 235px;
            height: 302px;
            background-color: white;
        }
    }
    &__subtitle {
        width: 590px;
        margin: 60px auto 0 auto;
        font-size: 30px;
        font-weight: 900;
        line-height: 36px;
        text-align: center;
        color: #393939;
    }
    &__btn {
        display: block;
        margin: 30px auto 0 auto;
    }
}